:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;

    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --text-color-light: #ffffff;
    --accent-color: #2196F3;
    --hover-accent-color: #188CE8;

    --btn-filter-color: #F5F4FA;
}

body {
    font-size: 14px;
    letter-spacing: 0.03em;

    background: var(--text-color-light);
    color: var(--primary-text-color);
    font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

address {
    font-style: normal;
}

.list {
    display: flex;
    list-style: none;
}

.link {
    text-decoration: none;

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* header */
.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 92px;

    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;


    color: var(--primary-text-color);
}

.logo-part {
    color: var(--accent-color);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list-link,
.contact {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.nav-list-link {
    color: var(--primary-text-color);
}

.nav-list-item:not(:last-child),
.contact-item {
    margin-right: 50px;
}

.contact {
    color: var(--secondary-text-color);
}

.nav-list-link.carent {
    color: var(--accent-color)
}


.accent:hover,
.accent:focus {
    color: var(--accent-color);
}



/* --------------hero------------ */
.hero {
    background: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--text-color-light);
}

.button {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    font-family: var(--primary-font-family);
    min-width: 200px;

    padding: 10px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    cursor: pointer;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    background-color: var(--accent-color);
    color: var(--text-color-light);
    border: none;
}

.button:hover,
.button:focus {
    background-color: var(--hover-accent-color);

}

/* -------------main------------ */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.principle {
    padding-bottom: 0;
}

.base-list {
    justify-content: space-between;
}

.base-list-item {
    width: 270px;

}

.team-list {
    margin-left: -30px;
    margin-top: -30px;
}

.team-list-item {
    flex-basis: calc((100%-120px))/4;
    margin-left: 30px;
    margin-top: 30px;
}

.title {
    margin-bottom: 10px;
}

.base-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.team-list .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
}

.work-list {
    margin-left: -30px;
    margin-top: -30px;
}

.work-list-item {
    flex-basis: calc((100%-90px))/3;
    margin-left: 30px;
    margin-top: 30px;
}

.base-list .text {
    line-height: 1.71;

    color: var(--secondary-text-color);
}

.team-section {
    background-color: #F5F4FA;
}

.team-list .text {
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    color: var(--secondary-text-color);
}

.team-list-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    border-bottom: 1px solid #ECECEC;
    ;
}

.team-card {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* ---------footer--------- */
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer .logo {
    color: var(--text-color-light);
}

.footer .list {
    display: inline-block;
    margin-top: 20px;

}

.address-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-link {
    font-weight: 400;
    line-height: 1.71;
    font-style: normal;

    color: var(--text-color-light);
}

.footer .contact {
    color: rgba(255, 255, 255, 0.6);
}

.footer .contact:hover,
.footer .contact:focus {
    color: var(--accent-color);
}

/* ----------portfolio---------- */

.portfolio-list-btn {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.btn-filter {
    margin-right: 8px;
    padding: 6px 22px;
    font-family: var(--primary-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    cursor: pointer;

    text-align: center;
    height: 38px;

    color: var(--primary-text-color);

    background: var(--btn-filter-color);
    border-radius: 4px;
    border: none;
}

.btn-filter:hover,
.btn-filter:focus {
    background-color: var(--accent-color);
    color: var(--text-color-light);
}

.portfolio-list {

    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.portfolio-list-item {
    flex-basis: calc((100%-90px))/3;
    margin-left: 30px;
    margin-top: 30px;

}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;

    color: var(--primary-text-color)
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.88;

    color: var(--secondary-text-color);
}

.portfolio-card {
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
}